.main {
  display: grid;
  background-color:rgb(142, 137, 122);
  grid-template-rows: 3em, 750px, 5em, 3em;
}

.header {
  grid-row: 1;
  background-color: rgb(41, 36, 36);
  height: 3em;
  width: 100%;
  border-bottom: 2px solid whitesmoke;
}

button {
  grid-row: 3;
  justify-self: center;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 50px;
  width: 75px;
  grid-row: 3;
  background-color: rgb(41, 36, 36);
  border: whitesmoke;
  color: whitesmoke;
}

@keyframes appear {
  0% {opacity: 50%}
  100% {opacity: 100%}
}

.welcome {
  justify-self: center;
  text-align: center;
  justify-content: center;
  padding: 15px;
  grid-row: 2;
  height: 250px;
  width: 250px;
  margin-top: 5em;
  background-color: rgb(41, 36, 36);
  color: antiquewhite;
  border: 3px solid whitesmoke ;
  animation: appear 1s linear;
}

.unsolved {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  grid-row: 2;
  justify-self: center;
  text-align: center;
  height: 250px;
  width: 250px;
  margin-top: 7em;
  background-color: rgb(237, 214, 184);
  border: 3px solid black;
  animation: appear 1s linear;
}



.tile {
  display: flex;
  justify-content: space-around;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  border: 1px solid black;
  color: rgb(250, 240, 240);
  border-radius: 10%;
  padding-top: 11px;
  margin: 1px;
  cursor: pointer;
}

#blank {
  opacity: 0%;
  cursor: default;
}

@keyframes winner {
  0% {transform: scale(100%)}
  20% {transform: scale(150%)}
  40% {transform: scale(100%)}
  80% {transform: scale(150%)}
  100% {transform: scale(100%)}
}

.winner {
  text-align: center;
  justify-self: center;
  padding: 15px;
  grid-row: 2;
  height: 250px;
  width: 250px;
  margin-top: 5em;
  background-color: greenyellow;
  border: 3px solid black;
  animation: winner 5s ease-in-out;
}

.footer {
  grid-row: 4;
  background-color: rgb(41, 36, 36);
  color: whitesmoke;
  border-top: 2px solid whitesmoke;
  height: 4em;
  width: 100%;
}
