.main {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  /* margin: 200px 10px; */
}

button {
  margin: 60px;
  height: 50px;
  grid-row: 2 / 3
}

@keyframes appear {
  0% {opacity: 50%}
  100% {opacity: 100%}
}

.welcome {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 15px;
  grid-row: 1 / 2;
  height: 250px;
  width: 250px;
  margin-top: 5em;
  background-color: aqua;
  border: 3px solid black;
  animation: appear 1s linear;
}

.unsolved {
  display: grid;
  grid-template: repeat(5, 50px) / repeat(5, 50px);
  grid-row: 1 / 2;
  text-align: center;
  width: 250px;
  margin-top: 5em;
  background-color: rgb(250, 240, 240);
  border: 3px solid black;
  animation: appear 1s linear;
}



.tile {
  display: flex;
  justify-content: space-around;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  border: 1px solid black;
  color: rgb(250, 240, 240);
  border-radius: 10%;
  padding-top: 11px;
  margin: 1px;
  cursor: pointer;
}

#blank {
  opacity: 0%;
  cursor: default;
}

@keyframes winner {
  0% {transform: scale(100%)}
  20% {transform: scale(150%)}
  40% {transform: scale(100%)}
  80% {transform: scale(150%)}
  100% {transform: scale(100%)}
}

.winner {
  display: flexbox;
  text-align: center;
  justify-content: center;
  padding: 15px;
  grid-row: 1 / 2;
  height: 250px;
  width: 250px;
  margin-top: 5em;
  background-color: greenyellow;
  border: 3px solid black;
  animation: winner 5s ease-in-out;
}